doctype html
html(lang="en")
  head
    include head
    mixin head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        mixin navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            mixin navdefaultlinks("/")
          mixin navloginlogout("/")
      section#mainpage
        .container
          .col-lg-4.col-md-4
            h3 Public Channels
            table.table.table-bordered.table-striped
              thead
                th Channel
                th # Connected
                th Now Playing
              tbody
                each chan in channels
                  tr
                    td: a(href="/r/#{chan.name}") #{chan.pagetitle} (#{chan.name})
                    td= chan.usercount
                    td= chan.mediatitle
          .col-lg-4.col-md-4
            h3 Latest News
            <!-- start feedwind code --><script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script><script type="text/javascript">(function() {var params = {rssmikle_url: "http://sameteem.com/forums/-/index.rss",rssmikle_frame_width: "300",rssmikle_frame_height: "400",frame_height_by_article: "0",rssmikle_target: "_blank",rssmikle_font: "Arial, Helvetica, sans-serif",rssmikle_font_size: "12",rssmikle_border: "off",responsive: "off",rssmikle_css_url: "",text_align: "left",text_align2: "left",corner: "off",scrollbar: "on",autoscroll: "on",scrolldirection: "up",scrollstep: "3",mcspeed: "20",sort: "Off",rssmikle_title: "on",rssmikle_title_sentence: "",rssmikle_title_link: "",rssmikle_title_bgcolor: "#0066FF",rssmikle_title_color: "#FFFFFF",rssmikle_title_bgimage: "",rssmikle_item_bgcolor: "#FFFFFF",rssmikle_item_bgimage: "",rssmikle_item_title_length: "55",rssmikle_item_title_color: "#0066FF",rssmikle_item_border_bottom: "on",rssmikle_item_description: "on",item_link: "off",rssmikle_item_description_length: "150",rssmikle_item_description_color: "#666666",rssmikle_item_date: "gl1",rssmikle_timezone: "Etc/GMT",datetime_format: "%b %e, %Y %l:%M %p",item_description_style: "text+tn",item_thumbnail: "full",item_thumbnail_selection: "auto",article_num: "15",rssmikle_item_podcast: "off",keyword_inc: "",keyword_exc: ""};feedwind_show_widget_iframe(params);})();</script><div style="font-size:10px; text-align:center; width:300px;"><a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;">RSS Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.--></div><!-- end feedwind code -->
              thead
                th
              tbody
                //each chan in channels
                //  tr
                //    td: a(href="/r/#{chan.name}") #{chan.pagetitle} (#{chan.name})
                //    td= chan.usercount
                //    td= chan.mediatitle
    //      .col-lg-3.col-md-3
    //        h3 Enter Channel
    //        input#channelname.form-control(type="text", placeholder="Channel Name")
    //        p.text-muted New channels can be registered from the <a href="/account/channels">My Channels</a> page.
    include footer
    mixin footer()
    script(type="text/javascript").
      $("#channelname").keydown(function (ev) {
        if (ev.keyCode === 13) {
          location.href = "/r/" + $("#channelname").val();
        }
      });
